Thank you very much for your interest in Ansible.

Per announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansible Collections - either a new one or one of the existing collections. You can find more information about collections at https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html.

If you still think that this new plugin would be beneficial enough to be included in this repository, add this pull request as a topic for IRC Core Team meeting at https://github.com/ansible/community/issues?q=is%3Aopen+label%3Acore+label%3Ameeting. For more information about IRC meetings please visit https://github.com/ansible/community/blob/main/meetings/README.md.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

<!--- boilerplate: new_plugin --->
